@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
  display: grid;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(#cccc99, #ecf1f1);
  /* background-color: black; */
  /* background-image: url("images/textured-paper.png"); */
}

.container{
  width: 410px;
  margin: 0 auto;
  min-height: 100vh;
}

.bg-image {
  background-color: #ecf1f1;
  background-image: url("images/textured-paper.png");
  background-color:
  border: solid 3px black;
  box-shadow: 3px 3px 3px 3px black;
  height: 180px;
  text-align: center;
  margin: 0 auto;
  z-index: -2;
  overflow: hidden;
  width: 100%;
  transform: skewY(-5deg);
  bottom: -150px;

}

.name {
  margin: 10 auto;
  text-align: center;
}

.animate__animated .animate__tada {
  --animate-duration: 60s;
  --animate-repeat: 2;
}

nav {
  position: fixed;
  top: 0;
  width: 98%;
  text-align: center;
  background-color: black;
  padding: 1em;
  z-index: 1;
}

.anchor {
    margin-top: -450px;
}

nav a{
  font-family: 'Nerko One', cursive;
  font-size: 1.75rem;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-right: 1.2rem;
}

nav a:hover{
    transition:all .5s ease;
    color:#f5f5dc;
    text-decoration: underline;
}

h1{
  color: black;
  font-size: 4.1rem;
  text-orientation: mixed;
  font-family: 'Nerko One', cursive;
  display:inline-block;
}

#about_me{
  scroll-margin-top: 6rem;
  margin-bottom: 34px;
  padding: 37px;
  border: solid 5px black;
  background-color: #ecf1f1;
  background-image: url("images/textured-paper.png");
  font-family: 'Roboto Slab', serif;
  /* font-size: 1.2rem; */
  text-align: center;
  box-shadow: 3px 3px 3px 3px black;
}

h2{
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Nerko One', cursive;
  font-size: 3.8rem;
  text-align: center;
}

#portfolio{
  scroll-margin-top: 6rem;
  border: solid 3px black;
  box-shadow: 3px 3px 3px 3px black;
  padding: 5px;
  background-color: #ecf1f1;
  background-image: url("images/textured-paper.png");
  font-family: 'Roboto Slab', serif;
}

#portfolio a{
  display: block;
  color: #ecf1f1;
  font-size: 20px;
  font-size: 1.5rem;
}

#portfolio a:hover{
  -webkit-transform:scale(1.01);
  transition:all 0.20s ease;
}

.project4, .project3, .project2, .project1{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border: solid 2px black;
  background-color: #cccc99;
  font-family: 'Roboto Slab', serif;
  box-shadow: 3px 3px #cccc99, 8px 8px black;
  width: 310px;
  font-size: 1.25rem;
  margin: 30px auto;
}

.project4 h3, .project3 h3, .project2 h3, .project1 h3{
  font-family: 'Nerko One', cursive;
  /* font-family: 'Permanent Marker', cursive; */
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 45px;
  color: #f5f5dc;
}

.project4 img, .project3 img, .project2 img, .project1 img{
  font-family: 'Permanent Marker', cursive;
  width: 90%;
  border: solid 2px #4A4A4A;
}

.description{
  text-align: left;
}

#skills{
  scroll-margin-top: 6rem;
  margin: 30px auto;
  background-color: #ecf1f1;
  background-image: url("images/textured-paper.png");
  display: flex;
  justify-content: center;
  border: solid 1px black;
  box-shadow: 2px 2px 2px 2px black;
}

#skills h2{
  font-size: 45px;
}

.skills{
  margin: 10px;
  justify-content: center;
  background-color: #ecf1f1;
  border: solid 5px #cccc99;
  box-shadow: 5px 5px 5px 5px black, 1px 5px 5px 5px #cccc99;
  height: 100px;
  width: 200px;
  display: block;
    margin-top: 0;
    position: absolute;
  /* padding: 50px; */
}

.skills_front, .skills_back, .other{
  margin: 10px;
  padding-top: 20px;
  justify-content: center;
  background-color: #ecf1f1;
  border: solid 5px #cccc99;
  box-shadow: 5px 5px 5px 5px black, 1px 5px 5px 5px #cccc99;
  width: 120px;
}

.skills_front{
  padding-top: 90px;
}

.other{
  padding-top: 90px;
}

ul{
  padding:0;
  list-style: none;
}

li{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#contact{
  scroll-margin-top: 6rem;
}

.email{
  border: solid 3px black;
  box-shadow: 3px 3px 3px 3px black;
  padding: 5px;
  background-color: #cccc99;
  margin-bottom: 30px;
}

.email h3{
  font-size: 3rem;
  text-align: center;
  font-family: 'Nerko One', cursive;
  margin: 1rem;
  color: black;
}

.email input, .email textarea{
  font-family: 'Roboto Slab', serif;
  display: block;
  text-align: center;
  border: solid .3px black;
  box-shadow: 1px 1px 1px 1px black;
  background-color: #ecf1f1;
  width: 15rem;
  height: 2rem;
  margin: 15px auto;
  font-weight: bold;
  font-size: 1.3em;
  padding: 5px;
}

.email textarea{
  height: 20rem;
  width: 22rem;
  text-align: left;
}

.email #submit{
  width: 10rem;
  color: #f5f5dc;
  background-color: black;
  padding-bottom: 32px;
}

footer{
  background-color: white;
  margin-bottom: 0;
  text-align: center;
  border: solid 3px black;
}

.icons img{
  display: inline;
  padding: 20px;
}

@media (min-width: 500px){

  .container{
        width: 460px;
      }

  .project4, .project3, .project2, .project1{
        width: 340px;
      }

  nav {
      padding-top: 1.5em;
      text-align: center;
      font-size: 1.3rem;
    }
}

@media (min-width: 600px){

  nav {
      padding-top: 1.5em;
      text-align: right;
      }

  .container{
        width: 560px;
      }

  .project4, .project3, .project2, .project1{
        width: 420px;
      }

  .bg-image {
      height: 310px;
    }

  .skills_front, .skills_back, .other{
    margin: 20px;
    padding: 20px;
    width: 23%;
  }

  .skills_front{
    padding-top: 120px;
  }

  .other{
    padding-top: 120px;
  }

  #skills h2 {
    font-size: 60px;
}

  .project4:hover img, .project3:hover img, .project2:hover img, .project1:hover img{
      -webkit-transform:scale(1.03);
      transition:all 0.20s ease;
  }

  .email textarea{
        height: 20rem;
        width: 30rem;
      }

  .email h3{
        font-size: 4.5rem;
    }
  }

@media (min-width: 700px){

  .container{
      width: 700px;
    }

  nav a{
      font-size: 2rem;
      padding-right: 3rem;
    }

  h1{
    font-size: 7rem;
  }

  h2{
    font-size: 90px;
  }

  .project4 h3, .project3 h3, .project2 h3, .project1 h3{
    font-size: 65px;
    margin-bottom: 5px;
  }

  .project2, .project4{
    margin-left: 20px;
    width: 43%;
    margin-bottom: 30px;
  }

  .project3, .project1{
    margin-right: 20px;
    width: 43%;
    margin-bottom: 30px;
  }

  nav a{
    font-size: 40px;
  }

  .skills_front{
    padding-top: 120px;
  }

  .other{
    padding-top: 120px;
  }

  #skills h2 {
    font-size: 69px;
}

  .email h3{
        font-size: 5.5rem;
  }

  .email textarea{
        width: 35rem;
  }

}

@media (min-width: 900px){
  .container{
        width: 860px;
      }

  .email input{
        width: 25rem;
      }

  .email textarea{
        width: 40rem;
      }

@media (min-width: 1050px){
  .container{
    width: 1043px;
  }
}
